<a href="https://colab.research.google.com/github/mattfox893/CMSC320_Final_Tutorial/blob/main/FE_Most_Popular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

html_page = pd.read_html("drive/MyDrive/Colab Notebooks/htm files/cyl6_1.htm")

df = html_page[0]

df

# regex to match when a name and title are adjacent
name_reg = "[^\s^\'^\(^\â™¯FE][A-Z]"
byleth_reg = "Byleth\s\((male|female)(.*)(Three Houses \(Academy Arc\))"
repl = "|"
entry_list = []
title_list = []
# rename NameTitle column to match other tables
if 'Name  Title' in df.columns:
  df.rename(columns={'Name  Title':'NameTitle'}, inplace=True)

# identify the regex match, add the repl string in between them
for entry in df['NameTitle']:
  # check if byleth is in this entry, if so reformat that entry
  byleth_match = re.search(byleth_reg, entry)
  if (type(byleth_match) != type(None)):
    entry = "Byleth (" + byleth_match.group(1) + ")" + byleth_match.group(3)

  match = re.search(name_reg, entry)
  new_entry = entry[:match.start() + 1] + repl + entry[match.start() + 1:]
  entry_list.append(new_entry)

new_entry = ""

# create the new Name and Title columns separately
df['NameTitle'] = entry_list
df[['Name', 'Title']] = df['NameTitle'].str.split(repl, 1, expand=True)
df = df.drop(['NameTitle'], axis=1)
# reorder the columns
df = df[['Rank', 'Name', 'Title', 'Votes']]


# identify if there are 2 titles and reformat them
for title in df['Title']:
  match = re.search(name_reg, title)
  if (type(match) != type(None)):
    new_entry = title[:match.start() + 1] + " " + repl + " " + title[match.start() + 1:]
    # check if there are more than 2 titles
    check_match = re.search(name_reg, new_entry)
    if (type(check_match) != type(None)):
      new_entry = new_entry[:check_match.start() + 1] + " " + repl + " " + new_entry[check_match.start() + 1:]
  else:
    new_entry = title
  
  title_list.append(new_entry)


df['Title'] = title_list
new_entry = ""

df

,Rank,Name,Title,Votes
0,1,Chrom,Awakening,42134
1,2,Tiki,Awakening,39705
2,3,Seliph,Genealogy of the Holy War,26301
3,4,Byleth (female),Three Houses (Academy Arc),20855
4,5,Bernadetta,Three Houses (War Arc) | Three Houses (Academy...,19335
...,...,...,...,...
205,197,Kiragi,Fates,495
206,198,Camus,Shadow Dragon & the Blade of Light / Shadow Dr...,493
207,199,Ricken,Awakening,491
208,199,Meg,Radiant Dawn,491
209,200,Shura,Fates,489